<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<button id='ImagePage' OnClick="window.location='gallery';">Image Search</button>
	<button id='WeatherPage' OnClick="window.location='weather';">Weather Search</button>

</body>
</html>