<!DOCTYPE html>
<html>
<head>
	<title>Weather</title>
</head>

<body>
	<input id='keyword' type="text" name='image_search' required='required'>
	<input id='submit' type="submit" value='Search' required='required'>

	
	
</body>
</html>